<template name="account">

    {{#contentFor "headerTitle"}}
        <h1 class="title">Account</h1>
        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            content
        {{/ionContent}}
    {{/ionView}}
</template>