<template name="messages">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Messages</h1>
        <button class="button button-clear pull-right" data-ion-menu-toggle="right">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}

            {{#ionList}}
                {{#each users}}
                    {{> message}}
                {{/each}}
            {{/ionList}}

        {{/ionContent}}
    {{/ionView}}
</template>