<template name="messages">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Messages</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}


            {{#ionList class="my-class"}}
                {{#each items}}
                    <h2>{{firstName}}</h2>

                    <p>{{summary}}</p>
                {{/each}}
            {{/ionList}}

            {{#each items}}
                {{#ionItem buttonRight=true avatar=true class="my-class" id="my-id"}}
                    <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">

                    <h2>John Smith</h2>

                    <p>(555) 555-1212</p>
                    <button class="button button-positive">
                        {{> ionIcon icon="ios-telephone"}}
                    </button>
                {{/ionItem}}
            {{/each}}


        {{/ionContent}}
    {{/ionView}}
</template>