<template name="layout">
    {{#ionBody}}

        {{#ionSideMenuContainer}}

            <!-- begin side menu -->
            {{#ionSideMenus}}
                {{#ionSideMenu side="right"}}
                    {{> _sideMenu }}
                {{/ionSideMenu}}
            {{/ionSideMenus}}
            <!-- end side menu -->

            <!-- begin side menu content -->
            {{#ionSideMenuContent drag-content="true"}}
                {{> ionNavBar class="bar-balanced"}}

                {{#ionNavView}}
                    {{> yield}}
                {{/ionNavView}}

                {{> _tabs }}
            {{/ionSideMenuContent}}
            <!-- end side menu content -->

        {{/ionSideMenuContainer}}

    {{/ionBody}}
</template>