<template name="layout">
    {{#ionBody}}
        {{> ionNavBar class="bar-balanced"}}

        {{#ionNavView}}
            {{> yield}}
        {{/ionNavView}}

        {{#if isAndroid}}
            {{#ionTabs style="android"}}
                {{> ionTab title="Search" path="search" icon="android-search"}}
                {{> ionTab title="Messages" path="messages" icon="android-chat"}}
                {{> ionTab title="Account" path="accounts" icon="android-person"}}
            {{/ionTabs}}
        {{else}}
            {{#ionTabs style="ios"}}
                {{> ionTab title="Search" path="searches" iconOff="ios-search" iconOn="ios-search" class="tab-item-balanced"}}
                {{> ionTab title="Messages" path="messages" iconOff="chatboxes" iconOn="chatboxes" class="tab-item-balanced"}}
                {{> ionTab title="Account" path="accounts" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-balanced"}}
            {{/ionTabs}}
        {{/if}}
    {{/ionBody}}
</template>