<template name="_sideMenu">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Right Menu</h1>
    </div>
    <div class="content has-header">
        <div class="list">
            <div class="item item-icon-left">
                {{> ionIcon icon="ios-person-outline"}} Profile
            </div>
            <div class="item item-icon-left">
                {{> ionIcon icon="card"}} Payment
            </div>
            <div class="item item-icon-left">
                {{> ionIcon icon="ios-gear-outline"}} Setting
            </div>
            <div class="item item-icon-left" data-ion-menu-close>
                {{> ionIcon icon="ios-arrow-left"}} Close
            </div>
        </div>
    </div>
</template>